* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 30px 40px 0px 40px;
  }

  header img {
    width: 100px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li a {
    text-decoration: none;
    color: black;
    margin: 0px 10px 0px 10px;
    padding: 40px 20px 0px 20px;
    font-size: 14px;
  }

  li a:hover{
    color: #0065FC;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }

  .flex-item-left {
    flex: 1 1 auto;
  }
  
  .flex-item-right {
    flex: 1 1 auto;
    text-align: end;
  }

  @media (max-device-width: 768px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
      text-align: center;
    }

    body {
      font-size: 16px;
      padding: 30px 0px 0px 0px;
    }

    section {
      padding: 0px 20px;
    }

    section h3 {
      width: 100%;
    }

    ul {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin: 30px 0px;
    }

    li {
      flex: 1 1 auto;
    }

    li a {
      font-size: 16px;
      padding: 8px 0px;
      margin: 0;
      border-bottom: 2px solid #F2F2F2;
      display:block;
    }

    li a:hover{
      border-bottom: 2px solid #0065FC;
    }

    form button.rcorners2{
      display: none;
    }

    form button.rcorner-square {
      display:inline-block;
      position: absolute;
      left: 250px;
    } 
  }
  
  @media (min-width: 768px) {
    li a:hover{
      border-top: 2px solid #0065FC;
    }

    form button.rcorner-square {
      display:none
    }

    form button.rcorners2 {
      display:inline-block
    }
  }

  nav ul {
    list-style-type: none;
  }

  nav li{
    display:inline-block;
  }

  .flex-row {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    align-items: center;
  }

  h1, h2{
    font-size: 18px;
    margin: 0;
    font-weight: bolder;
  }
  h2 {
    padding: 30px 0px 15px 25px;
  }

  .rcorners1 {
    border-radius: 15px 0px 0px 15px;
    background: #F2F2F2;
    padding: 18px; 
    width: 50px;
    height: 50px; 
  }

  input {
    padding: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
  }

  input::placeholder {
    font-weight: bold;
    color: black;
  }

  input:focus {
    outline: none;
    font-weight: bold;
  }

  button {
    border: none;
  }

  .rcorners2 {
    border-radius: 0px 15px 15px 0px;
    background: #0065FC;
    color: ghostwhite;
    padding: 14px;
    height: 50px; 
  }

  .rcorner-square {
    border-radius: 15px 15px 15px 15px;
    background: #0065FC;
    color: ghostwhite;
    padding: 14px;
    width: 50px;
    height: 50px; 
  }

  .rcorners3 {
    border: 2px solid #F2F2F2;
    border-radius: 50px 50px 50px 50px;
    padding: 10px 10px 10px 0px;
    margin-right: 20px;
    width: fit-content;
    height: 50px; 
  }

  .rcorners4 {
    margin: -1px 5px -1px -1px;
    padding: 16px;
    border-radius: 50%;
    color: ghostwhite;
    background: #DEEBFF;
  }

  .rcorners3 i {
    color: #0065FC;
  }

  article .flex-item-left {
    flex: 70;
  }

  .gallery {
    border-radius: 20px 20px 20px 20px;
    background: #F2F2F2;
    padding: 8px;
    margin: 4px;
  }

  .desc {
    padding: 2px;
  }

  section.gallery img {
    border-radius: 20px 20px 0px 0px;
    padding: 2px;
    width: 100%;
  }

  .img-box {
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    margin: 20px;
  }

  .img-box p {
    margin: 2px 0px 0px 8px;
    font-size: 12px;
  }

  .flex-column {
    flex: 1 1 0%;
  }

  h5 {
    margin: 0px 0px 0px 8px;
    padding: none;
    font-size: 14px;
  }

  .checked {
    color:#0065FC;
  }

  article section i {
    font-size: 11px;
  }

  aside img {
    border-radius: 20px 0px 0px 20px;
    width: 100px;
    height: 100px;
  }
  
