* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 30px 40px 0px 40px;
  }

  header img {
    width: 100px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li a {
    text-decoration: none;
    color: black;
    margin: 0px 10px 0px 10px;
    padding: 40px 20px 0px 20px;
    font-size: 14px;
  }

  li a:hover{
    color: #0065FC;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }

  .flex-item-left {
    flex: 1 1 auto;
  }
  
  .flex-item-right {
    flex: 1 1 auto;
  }

  nav {
    text-align: end;
  }

  nav ul {
    list-style-type: none;
  }

  nav li{
    display:inline-block;
  }

  .flex-row {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    align-items: center;
  }

  section .flex-container .flex-row {
    margin: 5px 10px 5px 0;
  }

  h1, h2, h3{
    font-size: 18px;
    margin: 0;
    font-weight: bolder;
  }

  h2 {
    padding: 2%;
  }

  .bi-star-fill {
    color:#dcd9d9;
  }

  .rcorners1 {
    border-radius: 15px 0px 0px 15px;
    background: #F2F2F2;
    padding: 18px; 
    width: 50px;
    height: 50px; 
  }

  input {
    padding: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
  }

  input::placeholder {
    font-weight: bold;
    color: black;
  }

  input:focus {
    outline: none;
    font-weight: bold;
  }

  button {
    border: none;
  }

  .rcorners2 {
    border-radius: 0px 15px 15px 0px;
    background: #0065FC;
    color: ghostwhite;
    padding: 14px;
    height: 50px; 
  }

  .rcorner-square {
    border-radius: 15px 15px 15px 15px;
    background: #0065FC;
    color: ghostwhite;
    padding: 14px;
    width: 50px;
    height: 50px; 
  }

  .rcorners3 {
    border: 2px solid #F2F2F2;
    border-radius: 50px 50px 50px 50px;
    padding: 10px 10px 10px 0px;
    margin-right: 20px;
    width: fit-content;
    height: 50px; 
  }

  .rcorners4 {
    margin: -1px 5px -1px -1px;
    padding: 16px;
    border-radius: 50%;
    color: ghostwhite;
    background: #DEEBFF;
  }

  .rcorners3 i {
    color: #0065FC;
  }

  article .flex-item-left {
    flex: 70;
    margin-right: 3%;
  }

  .gallery {
    border-radius: 20px 20px 20px 20px;
    background: #F2F2F2;
    padding: 2%;
    margin: 2% 0;
  }

  .desc {
    margin: 2%;
  }

  .desc div {
    margin-left: 7px;
  }

  .img-box {
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    margin: 2%;
    box-shadow: 0 4px 8px 0 rgba(112, 110, 110, 0.2);
  }

  article section .img-box img{
    height: 110px;
  }

  article img:hover {
    opacity: 0.3;
  }

  section.gallery img {
    border-radius: 20px 20px 0px 0px;
    padding: 2%;
    width: 100%;
    object-fit: cover;
  }

  .img-box p {
    margin: 2px 0px 0px 8px;
    font-size: 12px;
  }

  .flex-column {
    flex: 1 1 0%;
  }

  h5 {
    margin: 0px 0px 0px 8px;
    padding: 0;
    font-size: 14px;
  }

  .checked {
    color:#0065FC;
  }

  article section i {
    font-size: 11px;
  }

  aside .img-box {
    margin-bottom: 7%;
  }
  aside .img-box:last-child {
    margin-bottom: 0;
  }
  article aside img {
    border-radius: 20px 0px 0px 20px;
    padding: 4% 4% 2% 4%;
    height: 120px;
    width: 120px;
    object-fit: cover;
  }

  aside .title {
    display: flex;
    justify-content: space-between;
    margin: 2%;
  }

  aside figcaption .flex-row {
    padding-top: 25%;
    padding-bottom: 0;
    font-size: 12px;
  }

  .img-activities {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    object-fit: cover;
  }

  article:last-child .flex-column {
    margin: 0 3% 0 0;
  }

  article:last-child .flex-column:last-child {
    margin: 0;
  }

  article:last-child h5{
    padding: 5% 5% 35px 5%;
  }

  .image-long {
    height: 350px;
  }
  
  @media (max-device-width: 768px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
      text-align: center;
    }

    body {
      font-size: 16px;
      padding: 30px 0px 0px 0px;
    }

    section {
      padding: 0px 20px;
    }

    section h3 {
      width: 100%;
      margin-bottom: 7px;
    }

    ul {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin: 30px 0px;
    }

    li {
      flex: 1 1 auto;
    }

    li a {
      font-size: 16px;
      padding: 8px 0px;
      margin: 0;
      border-bottom: 2px solid #F2F2F2;
      display:block;
    }

    li a:hover{
      border-bottom: 2px solid #0065FC;
    }

    h5 {
      font-size: 16px;
      margin-bottom: 2%;
    }

    p {
      font-size: 14px;
      margin-bottom: 2%;
    }

    form button.rcorners2{
      display: none;
    }

    form button.rcorner-square {
      display:inline-block;
      position: absolute;
      left: 250px;
    } 

    article {
      flex-direction: column-reverse;
    }

    article .flex-item-left{
      margin: 0;
      background-color: #ffffff;
      text-align: start;
      width: 100%;
    }

    article .flex-item-right {
      text-align: start;
      border-radius: 0;
      width: 100%;
    }

    .gallery {
      padding: 5% 3% 8% 3%;
    }

    .flex-column{
      flex : 100%;
    }

    aside .flex-row {
      flex : 100%;
    }

    aside figcaption .flex-row {
      padding-top: 30%;
    }

    article section .img-box img {
      height: 130px;
    }
  }
  
  @media (min-device-width: 768px) {
    li a:hover{
      border-top: 2px solid #0065FC;
    }

    form button.rcorner-square {
      display:none
    }

    form button.rcorners2 {
      display:inline-block
    }
  }

  @media (max-device-width: 992px) {
    article .flex-item-left {
      flex: 65;
    }
    article .flex-item-right {
      flex: 35;
    }
    h5 {
    width: 90%;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    }
  }

